<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tusitio.com/ZappingStream" version="1.0.0" viewmodes="fullscreen">
    
    <tizen:application id="zapping123.ZappingStream" package="zapping123" required_version="3.0"/>
    <access origin="*" subdomains="true"/>
    <content src="https://zappingstream.com/tv"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/> 
    <name>ZappingStream</name>
    
    <!-- Permisos -->
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>